body { background: url(../img/layout/bkg.jpg);
       }
	   
/* =Nav-----------------------------------------------------------------------------*/	   
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   position: fixed;
    width: 100%;
	background: url(../img/layout/nav_bkg.png);
}

li {
    float: left;
}

li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* =Layout-----------------------------------------------------------------------------*/  

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
hgroup,
table,
form,
fieldset {
	margin-bottom: 1.5em;
	color: #8f8f8f;
}

ul {
 list-style-type: none;
 overflow: visible;
 padding: 10px 20px;
   }


/* =circles layout-----------------------------------------------------------------------------*/
div.stormes_1 {
	background: transparent url(../img/layout/stormes_preview_1.png) top left no-repeat;
	}
div.stormes_2 {
	background: transparent url(../img/layout/stormes_preview_2.png) top left no-repeat;
	}
div.stormes_3 {
	background: transparent url(../img/layout/stormes_preview_3.png) top left no-repeat;
	}
div.stormes_4 {
	background: transparent url(../img/layout/stormes_preview_4.png) top left no-repeat;
	}
div.stormes_5 {
	background: transparent url(../img/layout/stormes_preview_5.png) top left no-repeat;
	}
div.stormes_6 {
	background: transparent url(../img/layout/stormes_preview_6.png) top left no-repeat;
	}
div.stormes_7 {
	background: transparent url(../img/layout/stormes_preview_7.png) top left no-repeat;
	}
div.stormes_8 {
	background: transparent url(../img/layout/stormes_preview_8.png) top left no-repeat;
	}
div.stormes_9 {
	background: transparent url(../img/layout/stormes_preview_9.png) top left no-repeat;
	}
div.stormes_10 {
	background: transparent url(../img/layout/stormes_preview_10.png) top left no-repeat;
	}
div.stormes_11 {
	background: transparent url(../img/layout/stormes_preview_11.png) top left no-repeat;
	}
div.stormes_12 {
	background: transparent url(../img/layout/stormes_preview_12.png) top left no-repeat;
	}
div.stormes_13 {
	background: transparent url(../img/layout/stormes_preview_13.png) top left no-repeat;
	}
div.stormes_14 {
	background: transparent url(../img/layout/stormes_preview_14.png) top left no-repeat;
	}
div.stormes_15 {
	background: transparent url(../img/layout/stormes_preview_15.png) top left no-repeat;
	}
	div.stormes_16 {
	background: transparent url(../img/layout/stormes_preview_16.png) top left no-repeat;
	}
div.stormes_17 {
	background: transparent url(../img/layout/stormes_preview_17.png) top left no-repeat;
	}
div.stormes_18 {
	background: transparent url(../img/layout/stormes_preview_18.png) top left no-repeat;
	}
div.stormes_19 {
	background: transparent url(../img/layout/stormes_preview_19.png) top left no-repeat;
	}
div.stormes_20 {
	background: transparent url(../img/layout/stormes_preview_20.png) top left no-repeat;
	}
div.stormes_22 {
	background: transparent url(../img/layout/stormes_preview_22.png) top left no-repeat;
	}
div.stormes_23 {
	background: transparent url(../img/layout/stormes_preview_23.png) top left no-repeat;
	}
div.stormes_24 {
	background: transparent url(../img/layout/stormes_preview_24.png) top left no-repeat;
	}
	div.stacey {
	background: transparent url(../img/layout/stacey.png) top left no-repeat;
	}
	div.student_1 {
	background: transparent url(../img/layout/student_preview_1.png) top left no-repeat;
	}
div.student_2 {
	background: transparent url(../img/layout/student_preview_2.png) top left no-repeat;
	}
div.student_3 {
	background: transparent url(../img/layout/student_preview_3.png) top left no-repeat;
	}
div.student_4 {
	background: transparent url(../img/layout/student_preview_4.png) top left no-repeat;
	}
div.student_5 {
	background: transparent url(../img/layout/student_preview_5.png) top left no-repeat;
	}
div.student_6 {
	background: transparent url(../img/layout/student_preview_6.png) top left no-repeat;
	}
div.student_7 {
	background: transparent url(../img/layout/student_preview_7.png) top left no-repeat;
	}
div.student_8 {
	background: transparent url(../img/layout/student_preview_8.png) top left no-repeat;
	}
div.student_9 {
	background: transparent url(../img/layout/student_preview_9.png) top left no-repeat;
	}
div.student_10 {
	background: transparent url(../img/layout/student_preview_10.png) top left no-repeat;
	}
	div.student_11 {
	background: transparent url(../img/layout/student_preview_11.png) top left no-repeat;
	}
	div.student_12 {
	background: transparent url(../img/layout/student_preview_12.png) top left no-repeat;
	}
	div.student_13 {
	background: transparent url(../img/layout/student_preview_13.png) top left no-repeat;
	}
	div.student_14 {
	background: transparent url(../img/layout/student_preview_14.png) top left no-repeat;
	}
	div.student_15 {
	background: transparent url(../img/layout/student_preview_15.png) top left no-repeat;
	}
	div.student_16 {
	background: transparent url(../img/layout/student_preview_16.png) top left no-repeat;
	}
	div.student_17 {
	background: transparent url(../img/layout/student_preview_17.png) top left no-repeat;
	}
	div.student_18 {
	background: transparent url(../img/layout/student_preview_18.png) top left no-repeat;
	}
	div.student_19 {
	background: transparent url(../img/layout/student_preview_19.png) top left no-repeat;
	}
	div.student_20 {
	background: transparent url(../img/layout/student_preview_20.png) top left no-repeat;
	}
	div.student_21 {
	background: transparent url(../img/layout/student_preview_21.png) top left no-repeat;
	}
	div.student_22 {
	background: transparent url(../img/layout/student_preview_22.png) top left no-repeat;
	}
	div.student_23 {
	background: transparent url(../img/layout/student_preview_23.png) top left no-repeat;
	}
	div.student_24 {
	background: transparent url(../img/layout/student_preview_24.png) top left no-repeat;
	}
	div.student_25 {
	background: transparent url(../img/layout/student_preview_25.png) top left no-repeat;
	}
	div.student_26 {
	background: transparent url(../img/layout/student_preview_26.png) top left no-repeat;
	}
	div.student_27 {
	background: transparent url(../img/layout/student_preview_27.png) top left no-repeat;
	}
	div.student_28 {
	background: transparent url(../img/layout/student_preview_28.png) top left no-repeat;
	}
	div.student_29 {
	background: transparent url(../img/layout/student_preview_29.png) top left no-repeat;
	}
	div.student_30 {
	background: transparent url(../img/layout/student_preview_30.png) top left no-repeat;
	}
	div.student_31 {
	background: transparent url(../img/layout/student_preview_31.png) top left no-repeat;
	}
	div.student_32 {
	background: transparent url(../img/layout/student_preview_32.png) top left no-repeat;
	}
	div.student_33 {
	background: transparent url(../img/layout/student_preview_33.png) top left no-repeat;
	}
	div.cac3_1 {
	background: transparent url(../img/layout/cac3_preview_1.png) top left no-repeat;
	}
	div.cac3_2 {
	background: transparent url(../img/layout/cac3_preview_2.png) top left no-repeat;
	}
div.cac3_3 {
	background: transparent url(../img/layout/cac3_preview_3.png) top left no-repeat;
	}
div.cake_1 {
	background: transparent url("../img/layout/cake_preview_1.png") top left no-repeat;
	}
div.cake_2 {
	background: transparent url("../img/layout/cake_preview_2.png") top left no-repeat;
	}
div.cake_3 {
	background: transparent url("http://staceystormes.com/img/layout/cake_preview_3.png") top left no-repeat;
	}
div.cake_4 {
	background: transparent url("http://staceystormes.com/img/layout/cake_preview_4.png") top left no-repeat;
	}
div.cake_5 {
	background: transparent url("http://staceystormes.com/img/layout/cake_preview_5.png") top left no-repeat;
	}
div.cake_6 {
	background: transparent url("../img/layout/cake_preview_6.png") top left no-repeat;
	}
div.affirmations1 {
	background: transparent url("http://staceystormes.com/img/layout/affirmations_preview_1.png") top left no-repeat;
	}
div.affirmations2 {
	background: transparent url("../img/layout/affirmations_preview_2.png") top left no-repeat;
	}
div.affirmations3 {
	background: transparent url("http://staceystormes.com/img/layout/affirmations_preview_3.png") top left no-repeat;
	}
div.affirmations4 {
	background: transparent url("http://staceystormes.com/img/layout/affirmations_preview_4.png") top left no-repeat;
	}
div.affirmations5 {
	background: transparent url("http://staceystormes.com/img/layout/affirmations_preview_5.png") top left no-repeat;
	}
div.affirmations6 {
	background: transparent url("http://staceystormes.com/img/layout/affirmations_preview_6.png") top left no-repeat;
	}
div.affirmations7 {
	background: transparent url("../img/layout/affirmations_preview_7.png") top left no-repeat;
	}
div.miniatures1 {
	background: transparent url("http://staceystormes.com/img/layout/miniatures_preview_1.png") top left no-repeat;
	}
div.miniatures2 {
	background: transparent url("../img/layout/miniatures_preview_2.png") top left no-repeat;
	}
div.miniatures3 {
	background: transparent url("../img/layout/miniatures_preview_3.png") top left no-repeat;
	}
div.miniatures4 {
	background: transparent url("http://staceystormes.com/img/layout/miniatures_preview_4.png") top left no-repeat;
	}
div.miniatures5 {
	background: transparent url("http://staceystormes.com/img/layout/miniatures_preview_5.png") top left no-repeat;
	}
div.miniatures6 {
	background: transparent url("../img/layout/miniatures_preview_6.png") top left no-repeat;
	}
div.miniatures7 {
	background: transparent url("../img/layout/miniatures_preview_7.png") top left no-repeat;
	}
div.miniatures8 {
	background: transparent url("../img/layout/miniatures_preview_8.png") top left no-repeat;
	}
div.miniatures9 {
	background: transparent url("../img/layout/miniatures_preview_9.png") top left no-repeat;
	}
div.miniatures10 {
	background: transparent url("../img/layout/miniatures_preview_10.png") top left no-repeat;
	}
div.miniatures11 {
	background: transparent url("../img/layout/miniatures_preview_11.png") top left no-repeat;
	}
div.miniatures12 {
	background: transparent url("../img/layout/miniatures_preview_12.png") top left no-repeat;
	}
div.miniatures13 {
	background: transparent url("../img/layout/miniatures_preview_13.png") top left no-repeat;
	}
div.miniatures14 {
	background: transparent url("../img/layout/miniatures_preview_14.png") top left no-repeat;
	}
div.miniatures15 {
	background: transparent url("../img/layout/miniatures_preview_15.png") top left no-repeat;
	}

div.stormes_1, div.stormes_2, div.stormes_3, div.stormes_4, div.stormes_5, div.stormes_6, div.stormes_7, div.stormes_8, div.stormes_9, div.stormes_10, div.stormes_11, div.stormes_12, div.stormes_13, div.stormes_14, div.stormes_15, div.stormes_16, div.stormes_17, div.stormes_18, div.stormes_19, div.stormes_20, div.stormes_22, div.stormes_23, div.stormes_24, div.student_1, div.student_2, div.student_3, div.student_4, div.student_5, div.student_6, div.student_7, div.student_8, div.student_9, div.student_10, div.student_11, div.student_12, div.student_13, div.student_14, div.student_15, div.student_16, div.student_17, div.student_18, div.student_19, div.student_20, div.student_21, div.student_22, div.student_23, div.student_24, div.student_25, div.student_26, div.student_27, div.student_28, div.student_29, div.student_30, div.student_31, div.student_32, div.student_33, div.student_34, div.cac3_1, div.cac3_2, div.cac3_3, div.cake_1, div.cake_2, div.cake_3, div.cake_4, div.cake_5, div.cake_6, div.affirmations1, div.affirmations2, div.affirmations3, div.affirmations4, div.affirmations5, div.affirmations6, div.miniatures1, div.miniatures2, div.miniatures3, div.miniatures4, div.miniatures5, div.miniatures6, div.miniatures7, div.miniatures8, div.miniatures9, div.miniatures10, div.miniatures11, div.miniatures12, div.miniatures13, div.miniatures14, div.miniatures15 {
	margin: 0 auto;
	height: 231px;
	width: 219px;
	}
div.stormes_1:hover, div.stormes_2:hover, div.stormes_3:hover, div.stormes_4:hover, div.stormes_5:hover, div.stormes_6:hover, div.stormes_7:hover, div.stormes_8:hover, div.stormes_9:hover, div.stormes_10:hover, div.stormes_11:hover, div.stormes_12:hover, div.stormes_13:hover, div.stormes_14:hover, div.stormes_15:hover, div.stormes_16:hover, div.stormes_17:hover, div.stormes_18:hover, div.stormes_19:hover, div.stormes_20:hover, div.stormes_22:hover, div.stormes_23:hover, div.stormes_24:hover, div.student_1:hover, div.student_2:hover, div.student_3:hover, div.student_4:hover, div.student_5:hover, div.student_6:hover, div.student_7:hover, div.student_8:hover, div.student_9:hover, div.student_10:hover, div.student_11:hover, div.student_12:hover, div.student_13:hover, div.student_14:hover, div.student_15:hover, div.student_16:hover, div.student_17:hover, div.student_18:hover, div.student_19:hover, div.student_20:hover, div.student_21:hover, div.student_22:hover, div.student_23:hover, div.student_24:hover, div.student_25:hover, div.student_26:hover, div.student_27:hover, div.student_28:hover, div.student_29:hover, div.student_30:hover, div.student_31:hover, div.student_32:hover, div.student_33:hover, div.student_34:hover, div.cac3_1:hover, div.cac3_2:hover, div.cac3_3:hover, div.cake_1:hover, div.cake_2:hover, div.cake_3:hover, div.cake_4:hover, div.cake_5:hover, div.cake_6:hover, div.affirmations1:hover, div.affirmations2:hover, div.affirmations3:hover, div.affirmations4:hover, div.affirmations5:hover, div.affirmations6:hover, div.affirmations7:hover, div.miniatures1:hover, div.miniatures2:hover, div.miniatures3:hover, div.miniatures4:hover, div.miniatures5:hover, div.miniatures6:hover, div.miniatures7:hover, div.miniatures8:hover, div.miniatures9:hover, div.miniatures10:hover, div.miniatures11:hover, div.miniatures12:hover, div.miniatures13:hover, div.miniatures14:hover, div.miniatures15:hover {
	background-position: -219px 0;
	}
	
/* =Typography-----------------------------------------------------------------------------*/
body {
	text-decoration: none;	  
	font-size: 0.875em;
  line-height: 1.5em;
font-family: 'Abel', sans-serif;
  color: #8f8f8f;
}
a {
  color: #8f8f8f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 0.1em;
  font-family: 'Raleway', sans-serif;
  color: #8f8f8f;
}
h1 {
  font-size: 2.5714285714285716em;
  line-height: 1em;
}
h2 {
  font-size: 2.142857142857143em;
  line-height: 1.1em;
}
h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.3em;
}
h4 {
	font-size: 1.28571em;
	line-height: 1.3em;
}
h5 {
  font-size: 1.1428571428571428em;
  line-height: 1.3em;
}
h6 {
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
  margin-bottom: .1em;
}
.subheader {
  font-size: 1.2em;
  font-weight: normal;
  color: #8f8f8f;
  margin-bottom: 1em;
}

strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}

 	
/* =Links
-----------------------------------------------------------------------------*/
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #D1D5DA;
}
a:active {
	text-decoration: none;
}

/*Contact Page*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background:url(http://staceystormes.com/css/images/textarea-bg.jpg) right no-repeat #efefef;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
#submit {
    width:127px;
    height:38px;
    background:url(http://staceystormes.com/css/images/submit.jpg);
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

	#submit:hover {
	    opacity:.9;
	}
